$bg-color: #f3f4ff;

$app-main-color: #1b3c55;
$app-secondary-color: #add6ee;

$main-text-color: #000;
$sec-text-color: #4d6b87;
$success-color: #169972;
$error-color: #c64545;
$chart-text-color: #9fa7b7;

$cloud-color: rgba(173, 214, 238, 0.38);
$line-color: #d8dfed;

$top-icons-color: #4d6b87;
$menu-icons-color: #1b3c55;

$grey-sdgs-color: #9fa7b7;
