@use "../base" as b;

// Login page
.login-page {
  padding: 10px;
  text-align: center;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .no-account {
    display: inline-flex;
    font-size: 15px;
    gap: 3px;
  }
  .login-inputs {
    margin-bottom: 25px;
    height: 145px;
  }
}

// Reset password
.login-inputs.reset-password {
  height: 158px;
  padding-top: 60px;
}
