@use "../base" as b;

.menu-page {
  padding: 17px 12px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    button {
      background: none;
      border: none;
      width: 100%;
      border-bottom: 1.5px solid b.$line-color;
      padding-bottom: 1.4vh;
      padding-top: 1.5vh;
      margin-top: 2vh;
      font-size: 22px;
      font-weight: 300;
      display: flex;
      align-items: center;
      justify-content: space-between;
      svg {
        width: 10px;
        height: auto;
        transform: rotate(180deg);
        margin-right: 5px;
      }
      p {
        color: b.$menu-icons-color;
        font-size: 19px;
        font-weight: 400;
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 20px;
    svg {
      width: 70vw;
      opacity: 0.3;
    }
  }
}
