@use "../base" as b;

.watchlist-page {
  padding: 17px 12px;
  .empty-list {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    padding-inline: 20px;
    line-height: 25px;
    color: b.$sec-text-color;
    animation: delay-text 0.6s ease-in-out 1 forwards;
  }

  // Delay text animation
  @keyframes delay-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  ul {
    list-style-type: none;
    margin-top: 30px;
  }
  a {
    text-decoration: none;
    font-family: b.$main-font-family;
    color: b.$main-text-color;
  }
  .companies-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .company-box {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    border-bottom: 1.5px solid b.$line-color;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .logo-wrap {
    width: 56px;
    height: 56px;
  }
  .company-logo {
    width: 56px;
    height: 56px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
  }
  .company-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  .comapany-name {
    font-size: 18px;
    font-weight: 500;
  }
  .sector {
    font-size: 13px;
    font-weight: 500;
    color: b.$sec-text-color;
  }
  .current-price {
    font-size: 14.5px;
    font-weight: 500;
  }
}
