@use "../base" as b;

// Main buttons
@mixin main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 64px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-family: b.$main-font-family;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 18px auto;
}

.large-button {
  @include main-button;
  background-color: b.$app-main-color;
  color: b.$bg-color;
  &:disabled {
    color: rgba(0, 0, 0, 0.779);
    background-color: #9fa7b77c;
  }
}

.animate-button.large-button {
  animation: button-transition 0.12s ease-in-out 1 forwards;
}

@keyframes button-transition {
  0% {
    color: rgba(0, 0, 0, 0.779);
    background-color: #9fa7b77c;
  }
  100% {
    color: b.$bg-color;
    background-color: b.$app-main-color;
  }
}

// Text buttons
.text-button {
  background: none;
  border: none;
  font-size: 15px;
  color: b.$sec-text-color;
  font-family: b.$main-font-family;
  font-weight: 500;
  margin-bottom: 10px;
}

// Pop up button
.pop-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 54px;
  background-color: b.$app-secondary-color;
  border: none;
  border-radius: 9px;
  font-size: 17px;
  color: #000;
  font-family: b.$main-font-family;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 18px auto;
}

// Large light blue button
.blue-button {
  @include main-button;
  background-color: b.$app-secondary-color;
}

// Buy and sell buttons
.buy-button button {
  @include main-button;
  background-color: b.$app-main-color;
  color: b.$bg-color;
}

.buy-sell-buttons {
  display: flex;
  justify-content: space-between;
  margin-inline: 2vw;
  button {
    @include main-button;
    margin: 0;
    width: 42vw;
    background-color: b.$app-main-color;
    color: b.$bg-color;
  }
}
