@use "../base" as b;

.large-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 64px;
  background-color: b.$app-main-color;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  color: b.$bg-color;
  font-family: b.$main-font-family;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin: 18px auto;
  &:disabled {
    color: rgba(0, 0, 0, 0.779);
    background-color: #9fa7b77c;
  }
}

.animate-button.large-button {
  animation: button-transition 0.12s ease-in-out 1 forwards;
}

@keyframes button-transition {
  0% {
    color: rgba(0, 0, 0, 0.779);
    background-color: #9fa7b77c;
  }

  100% {
    color: b.$bg-color;
    background-color: b.$app-main-color;
  }
}

.text-button {
  background: none;
  border: none;
  font-size: 15px;
  color: b.$sec-text-color;
  font-family: b.$main-font-family;
  font-weight: 500;
  margin-bottom: 10px;
}
