@use "../base" as b;

.buy-sell-stock-page {
  text-align: center;
  margin-bottom: 40px;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .strech {
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    color: b.$sec-text-color;
  }
  // Main price
  .main-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      font-size: 17px;
      font-weight: 600;
      box-shadow: inset 0 0 10px b.$line-color;
      color: b.$app-main-color;
      padding: 10px 33px;
      display: flex;
      align-items: center;
      gap: 7px;
    }
    // Price triangle
    .bull-triangle {
      svg {
        height: 12px;
        path {
          fill: b.$success-color;
        }
      }
    }
    .bear-triangle {
      svg {
        height: 12px;
        transform: scaleY(-1);
        path {
          fill: b.$error-color;
        }
      }
    }
  }

  // Input fieds
  .number-of-shares {
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 7vh;
      > div {
        min-width: 120px;
        padding-inline: 10px;
        font-size: 42px;
        font-weight: 400;
      }
    }
    button {
      width: 55px;
      height: 55px;
      border: none;
      background-color: b.$app-secondary-color;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Total price
  .total {
    margin-top: 6vh;
    p {
      font-size: 12px;
      font-weight: 500;
      color: b.$sec-text-color;
      padding-top: 2px;
    }
    div {
      font-size: 24px;
      font-weight: 500;
      margin-top: 14px;
    }
  }
}
