@use "../base" as b;

.progress-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;

  div {
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  .light {
    background-color: b.$line-color;
  }

  .dark {
    background-color: b.$top-icons-color;
  }
}
