// Supported svgs colors
.portfolio-sdgs {
  .sdg_one #sdg_one {
    fill: #e5243b;
    fill-opacity: 0.8;
  }
  .sdg_two #sdg_two {
    fill: #dda63a;
    fill-opacity: 0.8;
  }
  .sdg_three #sdg_three {
    fill: #4c9f38;
    fill-opacity: 0.8;
  }
  .sdg_four #sdg_four {
    fill: #c5192d;
    fill-opacity: 0.8;
  }
  .sdg_five #sdg_five {
    fill: #ff3a21;
    fill-opacity: 0.8;
  }
  .sdg_six #sdg_six {
    fill: #26bde2;
    fill-opacity: 0.8;
  }
  .sdg_seven #sdg_seven {
    fill: #fcc30b;
    fill-opacity: 0.8;
  }
  .sdg_eight #sdg_eight {
    fill: #a21942;
    fill-opacity: 0.8;
  }
  .sdg_nine #sdg_nine {
    fill: #fd6925;
    fill-opacity: 0.8;
  }
  .sdg_ten #sdg_ten {
    fill: #dd1367;
    fill-opacity: 0.8;
  }
  .sdg_eleven #sdg_eleven {
    fill: #fd9d24;
    fill-opacity: 0.8;
  }
  .sdg_twelve #sdg_twelve {
    fill: #bf8b2e;
    fill-opacity: 0.8;
  }
  .sdg_thirteen #sdg_thirteen {
    fill: #3f7e44;
    fill-opacity: 0.8;
  }
  .sdg_fourteen #sdg_fourteen {
    fill: #0a97d9;
    fill-opacity: 0.8;
  }
  .sdg_fifteen #sdg_fifteen {
    fill: #56c02b;
    fill-opacity: 0.8;
  }
  .sdg_sixteen #sdg_sixteen {
    fill: #00689d;
    fill-opacity: 0.8;
  }
  .sdg_seventeen #sdg_seventeen {
    fill: #19486a;
    fill-opacity: 0.8;
  }
}
